@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --carbon-black: #0A0A0A;
  --ebitda-green: #00E676;
  --signal-red: #FF3D00;
  
  /* Neutral Colors */
  --titanium-white: #F5F5F5;
  --slate-grey: #64748B;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--titanium-white);
  background: var(--carbon-black);
  font-feature-settings: 'tnum';
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
